<%# 导航栏 %>

<div class="header">
    <div class="container">
       <div class="header-nav">
<!--  导航栏背景-->
        <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!-- 当宽度小于多小时导航栏就变成button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
			<div class="logo">
                <a href="index.html" class="navbar-brand">微博互动<span>每天都是你的LuckyDay</span></a>
            </div>
        </div>

        <!-- 大于多少时的导航栏 -->
        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul  class="nav navbar-nav">
                <li class="hvr-sweep-to-bottom active"><a href="http://localhost:3000">首页</a></li>
                <li class="hvr-sweep-to-bottom"><a href="/login" class="scroll">登入</a></li>
                <li class="hvr-sweep-to-bottom"><a href="/reg" class="scroll">注册</a></li>
            </ul>
        </div>
    </nav>
    </div>
</div>
</div>