<div class="container " style="background-color:#aaa;">
<h1 style="font-size:60px;">欢迎来到 Microblog</h1>
<p class="lead">Microblog 是一个基于 Node.js 的微博系统。</p>
<p>
<a class="btn btn-primary btn-large" href="/login">登录</a>
<a class="btn btn-default" href="/reg">立即注册</a>
</p>
</div>